@import '~styles/constants.scss';

.link {
  display: flex;
  flex: 1;
  justify-content: space-between;

  margin-bottom: 20px;
  text-decoration: none;
}

.title {
  font-weight: normal;
  font-size: 15px;
  color: $textColor;

  margin: 0;
}

.timestamp {
  font-size: 13px;
  color: #ccc;
}
