@import '~styles/constants.scss';

.section {
  margin-bottom: 40px;
}

.sectionHeader {
  border-bottom: 1px solid #eee;
}

.apiKeyTable {
  margin-bottom: 20px;
  width: 100%;

  td {
    margin-right: 20px;
    color: #969696;
  }
}
