{
  "presets": [
	"@babel/preset-react",
	"@babel/preset-flow",
	[
	  "babel-preset-gatsby",
	  {
		"targets": {
		  "browsers": [">0.25%", "not dead"]
		}
	  }
	]
  ],
  "plugins": [
	["@babel/plugin-proposal-decorators", { "legacy": true }],
	"@babel/plugin-transform-destructuring",
	"@babel/plugin-transform-regenerator",
	"transform-class-properties"
  ]
}
