{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "rules": {
    "eqeqeq": 2,
    "no-unused-vars": 2,
    "no-mixed-operators": "off",
    "flowtype/require-valid-file-annotation": [
      2,
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "trailingComma": "es5"
      }
    ]
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.86"
    },
    "import/resolver": {
      "node": {
        "paths": [
          "app",
          "."
        ]
      }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "env": {
    "jest": true
  }
}