{
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/order": "warn",
    // Prettier automatically uses the least amount of parens possible, so this
    // does more harm than good.
    "no-mixed-operators": "off",
    // Enforce that code is formatted with prettier.
    "prettier/prettier":  ["error", {"trailingComma": "es5", "singleQuote": true}]
  },
  "settings" : {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "env": {
    "jest": true,
  },
  "globals": {
    __DEV__: true,
    SLACK_KEY: true,
    SLACK_REDIRECT_URI: true,
    DEPLOYMENT: true,
    afterAll: true
  },
}
