.container {
  width: 100%;
  padding: 20px;
}

.document {
  h1, h2, h3, h4, h5, h6 {
    :global {
      .anchor {
        visibility: hidden;
        color: #ccc;
      }
    }

    &:hover {
      :global {
        .anchor {
          visibility: visible;
        }
      }
    }
  }

  ul {
    ul {
      margin: 0;
      padding-left: 1.5em;
    }
  }
}