@import '~styles/constants.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.atlasLink {
  text-decoration: none;
  color: $textColor;
}

.description {
  color: #aaa;
}
