@import '~styles/constants.scss';


.container {
  width: 100%;
  padding: 20px 0;
}

.title {
  color: $textColor;
  text-decoration: none;

  h2 {
    font-size: 1.3em;
  }
}

.continueLink {
  text-decoration: none;
}
