.container {
  display: flex;
  flex: 1;

  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;

  padding: 2em 3em;
  max-width: 50em;
}

.codeMirrorContainer {
  display: flex;
  flex: 1;
}

@media all and (max-width: 2000px) and (min-width: 960px) {
  .container {
    // margin-top: 48px;
    font-size: 1.1em;
  }
}

@media all and (max-width: 960px) {
  .container {
    font-size: 0.9em;
  }
}