.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;

  padding: 0 3em;
  max-width: 50em;
}

.editor {
  background: #fff;
  color: #202020;
  height: auto;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  ul,
  ol {
    margin: .1em;
    padding-left: 1em;
  }

  code,
  pre {
    background: #efefef;
    border-radius: 3px;
    border: 1px solid #dedede;
  }

  blockquote {
    border-left: 3px solid #efefef;
    padding-left: 10px;
  }
}

.title {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 0;
  pointer-events: none;
  color: #ddd;
}

@media all and (max-width: 2000px) and (min-width: 960px) {
  .container {
    // margin-top: 48px;
    font-size: 1.1em;
  }
}

@media all and (max-width: 960px) {
  .container {
    font-size: 0.9em;
  }
}
