@import '../../utils/constants.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  height: 42px;
  border-bottom: 1px solid #eee;
}

.teamName a {
  font-family: 'Atlas Grotesk';
  font-weight: bold;
  color: $textColor;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
}
