@import '../../utils/constants.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  padding: 0 20px;

  height: $headerHeight;
  border-bottom: 1px solid #eee;

  font-size: 14px;
  line-height: 1;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    background: #fff;
  }
}

.title {
  a {
    color: $textColor;
  }
}

.headerLeft {
  display: flex;
  align-items: center;

  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;

  a {
    font-family: 'Atlas Grotesk';
    font-weight: bold;
    color: $textColor;
    text-decoration: none;
    font-size: 16px;
  }
}

.headerRight {
  position: absolute;
  right: 20px;
  margin-top: -1px;
}

.content {
  display: flex;
  justify-content: center;

  &.fixed {
    padding-top: $headerHeight;
  }
}

