.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  height: 42px;
  border-bottom: 1px solid #eee;
}

.teamName {
  font-family: 'Atlas Grotesk';
  font-weight: bold;
}

.user {

  img {
    height: 24px;
    width: 24px;
    border-radius: 12px;
  }
}

.content {
  flex: 1;
}