{
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "eslint-plugin-react-hooks"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "jest": true,
    "browser": true
  }
}