{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    [
      "transform-inline-environment-variables",
      {
        "include": [
          "SOURCE_COMMIT",
          "SOURCE_VERSION"
        ]
      }
    ],
    "tsconfig-paths-module-resolver"
  ],
  "env": {
    "production": {
      "ignore": [
        "**/__mocks__",
        "**/*.test.ts"
      ]
    },
    "development": {
      "ignore": [
        "**/__mocks__",
        "**/*.test.ts"
      ]
    }
  }
}