{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "corejs": {
          "version": "3",
          "proposals": true
        },
        "targets": {
          "node": "12"
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    [
      "transform-inline-environment-variables",
      {
        "include": [
          "SOURCE_COMMIT",
          "SOURCE_VERSION"
        ]
      }
    ]
  ]
}