{
  "extends": [
    "../.eslintrc"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["scripts/*"],
      "rules": {
        "no-console": "off"
      }
    }
  ],
  "env": {
    "jest": true,
    "node": true
  }
}