.mask {
  display: flex;
  width: 100%;
  background-color: rgba(223, 228, 233, 0.35);
}

.header {
  height: 28px;
  margin-bottom: 32px;
}

.bodyText {
  height: 18px;
  margin-bottom: 14px;
}

.animated {
  width: 100%;
  animation: PULSATE 1.3s infinite;
}

@keyframes PULSATE {
  0%   { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
