.menu {
  padding: 8px 16px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  line-height: 0;
  height: 40px;
  min-width: 260px;
}

.active {
  transform: translateY(-6px);
  opacity: 1;
}

.linkEditor {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;

  input {
    background: rgba(255,255,255,.1);
    border-radius: 2px;
    padding: 5px 8px;
    border: 0;
    margin: 0;
    outline: none;
    color: #fff;
    flex-grow: 1;
  }
}

.button {
  display: inline-block;
  flex: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  background: none;
  transition: opacity 100ms ease-in-out;
  padding: 0;
  opacity: .7;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 1;
  }

  &[data-active="true"] {
    opacity: 1;
  }
}
