@font-face {
  font-family: 'Atlas Grotesk';
  src: url('./AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('./AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('./AtlasGrotesk-RegularItalic-Web.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('./AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('./AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Typewriter';
  src: url('./AtlasTypewriterRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Typewriter';
  src: url('./AtlasTypewriterMedium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}