@import '../../utils/constants.scss';

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  min-height: 43px;
  padding: 0 0.5rem;
  color: $linkColor;
}

.menuContainer {
  position: relative;

  .menu {
    position: absolute;
    top: $headerHeight;
    right: 0;
    z-index: 1000;
    border: 1px solid #eee;
    min-width: 150px;
  }
}

.menuItem {
  margin: 0;
  padding: 5px 10px;
  height: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-left: 2px solid transparent;

  span {
    margin-top: 2px;
  }

  a {
    color: $textColor;
    text-decoration: none;
  }

  &:hover {
    border-left: 2px solid #2196F3;
  }
}