.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.content {
  margin: 40px;
  max-width: 640px;
}

.intro {
  font-family: "Atlas Typewriter", Monaco, monospace;
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 40px;
}