.header {
  display: flex;
  width: 100%;
  height: 42px;
  position: fixed;
  z-index: 9999;

  justify-content: space-between;

  background-color: #111;
  color: #fff;

  i {
    color: #fff;
    font-family: serif;
  }

  .headerItem {
    width: 150px;
    padding: 12px 22px;

    font-size: 15px;
    font-weight: 300;
    font-family: "Atlas Grotesk", "Helvetica Neue", sans-serif;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  .editorToggle div {
    margin-right: 12px;
    cursor: pointer;
    opacity: 0.4;
    color: #fff;

    &.active {
      opacity: 1;
    }

    &:first-child {
      margin-top: 2px;
      margin-right: 15px;
    }

    &:last-child {
      margin-top: -2px;
    }
  }

  .textIcon {
    font-family: Times, serif;
    font-size: 20px;

  }
}