@import './constants.scss';

* {
  box-sizing: border-box;
}

html, body, .viewport {
  width: 100%;
  margin: 0;
}

html, body {
  font-family: 'Atlas Grotesk', 'Helvetica Neue', sans-serif;
  color: $textColor;
}

a {
  color: #0C77F8;
}
