@import '~styles/constants.scss';

.sidebar {
  position: relative;
  width: 250px;
  font-size: 13px;
}

.content {
  padding: 20px 20px 20px 5px;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;
  height: 40px;
}

.action {
  color: $gray;

  &.active {
    color: $textColor;
  }
}
