@import '~styles/constants.scss';

.container {
  display: flex;
  position: fixed;
  top: $headerHeight;
  bottom: 0;
  left: 0;
  right: 0;
}

.editorPane {
  flex: 0 0 50%;
  justify-content: center;
  overflow: scroll;
}

.paneContent {
  flex: 1;
  justify-content: center;
  height: 100%;
}

.fullWidth {
  flex: 1;
  display: flex;

  .paneContent {
    display: flex;
  }
}

:global {
  ::-webkit-scrollbar {
    display: none;
  }
}
