{
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "eslint-plugin-react-hooks"
  ],
  "rules": {
    "no-restricted-imports": ["error", {
      "patterns": [{
        "group": ["@shared/*"],
        "message": "Use relative imports."
      }, {
        "group": ["@server/*"],
        "message": "Do not reference server code from shared code."
      }]
    }]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}