.actions {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 250px;
  padding: 20px 20px 20px 5px;

  border-right: 1px solid #eee;
}

.content {
  position: relative;
}

.menuIcon {
  position: absolute;
  top: 22px;
  left: 17px;
  height: 28px;
  opacity: 0.15;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
