@import '~styles/constants.scss';

.container {
  height: $headerHeight;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
}

.danger {
  background-color: #f04124;
}

.warning {
  background-color: #f08a24;
}

.success {
  background-color: #43AC6A;
}

.info {
  background-color: #a0d3e8;
}

.offline {
  background-color: #000000;
}
