.container {
  width: 100%;
  padding: 20px;
}

.document {
  h1, h2, h3, h4, h5, h6 {
    :global {
      .anchor {
        visibility: hidden;
        color: #ccc;
      }
    }

    &:hover {
      :global {
        .anchor {
          visibility: visible;
        }
      }
    }
  }

  ul {
    padding-left: 1.5em;

    ul {
      margin: 0;
    }
  }

  pre {
    box-shadow: 1px 1px 1px #f5f5f5;
  }
}
