@import './constants.scss';

* {
  box-sizing: border-box;
}

:root {
  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --letter-spacing: 1;
  --caps-letter-spacing: .2em;
  --bold-font-weight: bold;
}

html, body, .viewport {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: #617180;
  background-color: #fff;
  display: flex;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img {
  max-width: 100%;
  height: auto;
}
svg {
  max-height: 100%;
}
a {
  color: #005AA6;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3,
h4, h5, h6 {
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #1f2429;
}
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.25em }
h4 { font-size: 1em }
h5 { font-size: .875em }
h6 { font-size: .75em }
p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}
code,
pre,
samp {
  font-family:
    'Atlas Typewriter',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}
code, samp {
  font-size: 87.5%;
  padding: .125em;
}
pre {
  font-size: 87.5%;
  overflow: scroll;
}
blockquote {
  font-size: 1.25em;
  font-style: italic;
  margin-left: 0;
}
hr {
  margin: 2em 0;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;
}
*[role=button] {
  cursor: pointer;
}

:global {
  .hljs {
    border: 1px solid rgba(0,0,0,.0625);
    padding: 1em;
    border-radius: 0.25em;
  }
}
