$textColor: #171B35;
$actionColor: #3AA3E3;

$darkGray: #333;
$gray: #ccc;
$lightGray: #eee;

$headerHeight: 42px;

:export {
  textColor: $textColor;
  actionColor: $actionColor;

  headerHeight: $headerHeight;
}
