@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/*@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-LightItalic-Web.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}*/

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-RegularItalic-Web.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/atlas/AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Typewriter';
  src: url('../fonts/atlas/AtlasTypewriterRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Typewriter';
  src: url('../fonts/atlas/AtlasTypewriterMedium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
