@import '~styles/constants.scss';

.sidebar {
  position: relative;
  width: 250px;
  border-right: 1px solid #eee;
  font-size: 13px;
}

.sidebarToggle {
  display: flex;
  position: relative;
  width: 60px;
  cursor: pointer;
  justify-content: center;

  &:hover {
    background-color: #f5f5f5;

    .menuIcon {
      opacity: 1;
    }
  }
}

.menuIcon {
  margin-top: 18px;
  height: 28px;
  opacity: 0.15;
}

.content {
  padding: 20px 20px 20px 5px;
}

.tree {

}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;
  height: 40px;
}

.action {
  color: $gray;

  &.active {
    color: $textColor;
  }
}
