.menu {
  padding: 8px 16px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 250ms ease-in-out;
}

.active {
  opacity: 1;
}

.button {
  display: inline-block;
  color: #aaa;
  cursor: pointer;
  margin-left: 15px;
  border: none;
  background: none;
  transition: color 100ms ease-in-out;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
  }

  &[data-active="true"] {
    color: #fff;
  }
}
