.container {
  padding: 40px 0;
}

.field {
  width: 100%;
  padding: 10px;
  font-size: 48px;
  font-weight: 400;
  outline: none;
  border: 0;
  // border-bottom: 1px solid #ccc;
}

:global {
  ::-webkit-input-placeholder {
     color: #ccc;
  }

  :-moz-placeholder {
     color: #ccc;
  }

  ::-moz-placeholder {
     color: #ccc;
  }

  :-ms-input-placeholder {
     color: #ccc;
  }
}
