.container {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;

  margin: 0 auto;
  padding: 2em 3em;
  max-width: 50em;
}

.editor {
  outline: none;
}

@media all and (max-width: 2000px) and (min-width: 960px) {
  .container {font-size: 1.1em}
}